html { 
    height: 100%
}

body {
    height: 100%;
}

#map {
    left: 20%;
    height: 50%;
    width: 60%;
}

#input {
	position: relative;
}

#directionsInput {
	position: inherit;
}

#generationInput {
	position: inherit;
}