/*--------------------------------------+
| Here are some beautiful css functions |
+--------------------------------------*/

html { 
    height:100%
	
}

body {
    height:100%;
	background: linear-gradient(#FFF, #FA6);
}

h1,h3 {
	text-align:center;
	line-height:80%;
}

#origin,#timePerFrame, #overlayDirections {
	border: 1px solid #08F;
}

#destination {
	border: 1px solid #08F;
	width:148px;
}


#granularity {
	border: 1px solid #08F;
	width:204px;
}

#imageSize {
	border: 1px solid #08F;
	width:207px;
}


.wrapper {
    text-align:right;
}

#getDirections, #generateGif {
	border: 1px solid #08F;
    top:50%;
	background:#ADF;
}

#getDirections:hover, #generateGif:hover {
	border: 1px solid #08F;
    top:50%;
	background:#8BF;
}

#map {
    left:20%;
    height:50%;
    width:60%;
	border: 2px solid #08F;
}

#mapInput {
    left:20%;
    width:60%;
	position:relative;
	line-height:180%;
}

#directionsInput {
	position:absolute;
	right:60%;
}

#generationInput {
	position:absolute;
	left:55%;
	text-align:left;
}
